[Desktop Entry]
Name=Avahi F*** Off VNC Server Browser
Comment=Absolutely useless
Exec=/usr/bin/bvnc
Terminal=false
Type=Application
Icon=network-wired
Categories=GNOME;Network;
StartupNotify=false
NoDisplay=true
