[Desktop Entry]
Categories=Electronics;Engineering;
Comment=Design a printed circuit board.
Exec=distrobox enter ubuntu16 -e eagle %U
GenericName=PCB Designer
Icon=eagle
MimeType=application/vnd.cadsoft.eagle.board;application/vnd.cadsoft.eagle.project;application/vnd.cadsoft.eagle.schematic
Name=Eagle
Type=Application
