[Desktop Entry]
Name=Midnight Commander
Comment=File manager
Exec=pqp -n mc
Icon=mc
# Terminal=true
Type=Application
Categories=ConsoleOnly;Utility;FileManager;System;FileTools;
Keywords=file manager;console;
