[Desktop Entry]
Version=1.0
Type=Application
Name=Openbox-Menu
GenericName=Openbox Start Menu
Comment=Start here
Exec=xdotool key Control+Menu
Icon=os-logo
NoDisplay=true
