[Desktop Entry]
Name=VTE Terminal for GTK3
Comment=Use the command line
Keywords=shell;prompt;command;commandline;cmd;ptyxis;terminal;cmd;cli;console;
TryExec=vte-2.91
Exec=vte-2.91
Icon=utilities-terminal
Type=Application
Categories=GNOME;GTK;System;TerminalEmulator;Utility;X-GNOME-Utilities;
StartupNotify=true
StartupWMClass=org.gnome.Vte.App.Gtk3
SingleMainWindow=false
X-ExecArg=--
X-TerminalArgExec=--
X-TerminalArgTitle=--title
X-TerminalArgDir=--working-directory
# X-TerminalArgHold=
X-KDE-AuthorizeAction=shell_access
