[Desktop Entry]
Version=1.0
Type=Application
Name=Panel-Menu
GenericName=Start Menu
Comment=Start here
Exec=xdotool key Control+Menu
Icon=panel-menu
NoDisplay=true
