[Desktop Entry]
Version=1.0
Type=Application
Name=Panel-Windows
GenericName=Window List
Comment=
Exec=xdotool key Menu
Icon=panel-windows
NoDisplay=true
