[Desktop Entry]
Name=Parcellite
GenericName=Clipboard Manager
Comment=Lightweight GTK+ clipboard manager
Icon=parcellite
Exec=parcellite
Terminal=false
Type=Application
Keywords=clipboard;manager;copy;paste;
Categories=GTK;GNOME;Application;Utility;
OnlyShowIn=GNOME;KDE;LXDE;MATE;Razor;ROX;TDE;Unity;XFCE;Old;
NoDisplay=true
