[Desktop Entry]
Type=Application
Name=Xephyr
GenericName=Openbox on Xephyr
Comment=A X server inside a X server
Exec=urxvt -title "Openbox on Xephyr" -icon "/usr/share/pixmaps/openbox.png" -e ssh dumbfuck@localhost -t "sh -l -c 'DISPLAY=:0 startx -- /usr/bin/Xephyr -softCursor -screen 1024x1280 -dpi 96 :1'"
Terminal=false
Icon=openbox
Categories=System;
