
/***********************************************************************
 * Tabs on Bottom!
 * https://github.com/MrOtherGuy/firefox-csshacks
 */
@import url(tabs_on_bottom.css);

/***********************************************************************
 * Disable Proton!
 * https://www.dedoimedo.com/computers/firefox-91-disable-proton.html
 */
@import url(disable_proton.css);

/***********************************************************************
 * Override URL bar enlargement
 * https://support.mozilla.org/en-US/questions/1294934
 */
@import url(userChrome.1294934.css);

/***********************************************************************
 * Hide all tab Close buttons
 */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display: none !important; }

/***********************************************************************
/* Move "Close Multiple Tabs" and "Close Tab" entries to bottom
 */
#context_closeTabOptions { -moz-box-ordinal-group: 8 !important; }
#tabContextMenu menuitem[label="Close Tab"] { -moz-box-ordinal-group: 9 !important; }

/***********************************************************************
 * Hide Navigation from context menu
 */
#context-navigation, #context-sep-navigation { display: none !important; }

/***********************************************************************
 * Disable fullscreen transition animation
 * https://support.mozilla.org/en-US/questions/1251598
 */
#navigator-toolbox[fullscreenShouldAnimate] { transition: none !important; }

/***********************************************************************
 * Remove clutter from URL bar
 */
.urlbarView > .search-one-offs { display: none !important; }
