<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item label="Calculator">
    <action name="Execute">
      <command>gnome-calculator</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Character Map">
    <action name="Execute">
      <command>gnome-character-map</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Ark File Archiver">
    <action name="Execute">
      <command>ark</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors">
  <item label="GVim">
    <action name="Execute">
      <command>gvim</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>GVim</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Emacs">
    <action name="Execute">
      <command>emacs</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="GEdit">
    <action name="Execute">
      <command>gedit</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Kate">
    <action name="Execute">
      <command>kate</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Kwrite">
    <action name="Execute">
      <command>kwrite</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="Rxvt Unicode">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
  <item label="Gnome Terminal">
    <action name="Execute">
      <command>gnome-terminal</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Xfce Terminal">
    <action name="Execute">
      <command>xfce4-terminal</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Konsole">
    <action name="Execute">
      <command>konsole</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Xterm">
    <action name="Execute"><command>xterm</command></action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Opera">
    <action name="Execute">
      <command>opera</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Opera</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Konqueror">
    <action name="Execute">
      <command>konqueror</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Epiphany">
    <action name="Execute">
      <command>epiphany</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Pidgin Instant Messenger">
    <action name="Execute">
      <command>pidgin</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Kopete Instant Messenger">
    <action name="Execute">
      <command>kopete</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="XChat">
    <action name="Execute">
      <command>xchat</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="OpenOffice Base">
    <action name="Execute">
      <command>ooffice -base</command>
    </action>
  </item>
  <item label="OpenOffice Calc">
    <action name="Execute">
      <command>ooffice -calc</command>
    </action>
  </item>
  <item label="OpenOffice Draw">
    <action name="Execute">
      <command>ooffice -draw</command>
    </action>
  </item>
  <item label="OpenOffice Impress">
    <action name="Execute">
      <command>ooffice -impress</command>
    </action>
  </item>
  <item label="OpenOffice Math">
    <action name="Execute">
      <command>ooffice -math</command>
    </action>
  </item>
  <item label="OpenOffice Printer Administration">
    <action name="Execute">
      <command>ooffice-printeradmin</command>
    </action>
  </item>
  <item label="OpenOffice Writer">
    <action name="Execute">
      <command>ooffice -writer</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="Amarok">
    <action name="Execute">
      <command>amarok</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Rhythmbox">
    <action name="Execute">
      <command>rhythmbox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="K3b">
    <action name="Execute">
      <command>k3b</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="MPlayer">
    <action name="Execute">
      <command>gmplayer</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>MPlayer</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Totem">
    <action name="Execute">
      <command>totem</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Nautilus">
    <action name="Execute">
      <command>nautilus --no-desktop --browser</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="KDE File Manager">
    <action name="Execute">
      <command>kfmclient openURL ~</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Rox">
    <action name="Execute">
      <command>rox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>ROX-Filer</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="PCMan File Manager">
    <action name="Execute">
      <command>pcmanfm</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Gwenview">
    <action name="Execute">
      <command>gwenview</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Dia Diagram Editor">
    <action name="Execute">
      <command>dia</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Gnome Control Center">
    <action name="Execute">
      <command>gnome-control-center</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="KDE Control Center">
    <action name="Execute">
      <command>kcontrol</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Xfce Settings">
    <action name="Execute">
      <command>xfce-setting-show</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <!-- <separator /> -->
  <!-- <item label="Reconfigure Openbox"> -->
  <!--   <action name="Reconfigure" /> -->
  <!-- </item> -->
</menu>



<!-- Openbox sub-menu -->
<menu id="openbox" label="Openbox">
  <item label="Openbox Wiki">
    <action name="Execute">
      <command>pqp navigator http://openbox.org/wiki/Main_Page</command>
    </action>
  </item>
  <item label="Openbox - Gentoo Wiki">
    <action name="Execute">
      <command>pqp navigator https://wiki.gentoo.org/wiki/Openbox</command>
    </action>
  </item>
  <item label="Openbox Guide - Gentoo Wiki">
    <action name="Execute">
      <command>pqp navigator https://wiki.gentoo.org/wiki/Openbox/Guide</command>
    </action>
  </item>
  <item label="Openbox - Arch Wiki">
    <action name="Execute">
      <command>pqp navigator http://wiki.archlinux.org/index.php/Openbox</command>
    </action>
  </item>
  <separator />
  <item label="Configure Openbox (obconf)">
    <action name="Execute"><command>obconf</command></action>
  </item>
  <separator />
  <item label="Lock Screen (slock)">
    <action name="Execute"><command>slock</command></action>
  </item>
  <separator />
  <item label="Restart Openbox">
    <action name="Restart" />
  </item>
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>


<!-- Root Menu -->
<menu id="root-menu" label="Openbox 3">
  <separator label="Gentoo Linux!" />
  <separator />


  <!-- Terminal & File Manager-->
  <item label="Terminal (urxvt)" icon="/home/energos/.local/share/icons/Utilities-terminal.svg">
    <action name="Execute"><command>urxvtcd -name Terminal</command></action>
  </item>
  <item label="Terminal (xterm)" icon="/usr/share/icons/Adwaita/16x16/apps/utilities-terminal.png">
    <action name="Execute"><command>xterm</command></action>
  </item>
  <item label="Midnight Commander" icon="/home/energos/.local/share/icons/mc.svg" >
    <action name="Execute"><command>pqp mc</command></action>
  </item>
  <item label="File Manager" icon="/usr/share/icons/Adwaita/16x16/apps/system-file-manager.png" >
    <action name="Execute"><command>pcmanfm</command></action>
  </item>
  <separator />

  <!-- The Manuals -->
  <menu id="gnu" label="The Manuals" icon="/home/energos/.local/share/icons/Blue_question_mark_icon.svg">
    <menu id="emacs" label="The GNU Emacs Manuals"  icon="/usr/share/icons/hicolor/16x16/apps/emacs.png">
      <item label="The Emacs Editor">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_mono/emacs.html</command>
        </action>
      </item>
      <item label="Emacs Lisp">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_mono/elisp.html</command>
        </action>
      </item>
      <item label="Programming in Emacs Lisp">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_mono/eintr.html</command>
        </action>
      </item>
      <item label="The GNU Emacs FAQ">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_mono/efaq.html</command>
        </action>
      </item>
      <item label="Org Mode Manual">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_mono/org.html</command>
        </action>
      </item>
      <separator />
      <item label="All GNU Emacs Manuals">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/</command>
        </action>
      </item>
    </menu>
    <separator />
    <item label="All About GIT" icon="/home/energos/.local/share/icons/git.png">
      <action name="Execute">
        <command>pqp navigator http://speedy/~energos/git.html</command>
      </action>
    </item>
    <item label="Magit User Manual" icon="/home/energos/.local/share/icons/magit.png">
      <action name="Execute">
        <command>pqp navigator https://magit.vc/manual/magit.html</command>
      </action>
    </item>
    <separator />
    <item label="The Guile Reference Manual" icon="/home/energos/.local/share/icons/heckert_gnu.svg">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/software/guile/manual/guile.html</command>
      </action>
    </item>
    <item label="The GNU C Reference Manual" icon="/home/energos/.local/share/icons/heckert_gnu.svg">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/software/gnu-c-manual/gnu-c-manual.html</command>
      </action>
    </item>
    <separator />
    <item label="All GNU Manuals" icon="/home/energos/.local/share/icons/heckert_gnu.svg">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/manual/manual.html</command>
      </action>
    </item>
  </menu>
  <separator />

  <!-- Editors -->
  <item label="Emacs" icon="/usr/share/icons/hicolor/16x16/apps/emacs.png">
    <action name="Execute"><command>emacsclient -c -n -a "emacs"</command></action>
  </item>
  <item label="Geany" icon="/usr/share/icons/hicolor/16x16/apps/geany.png">
    <action name="Execute"><command>geany</command></action>
  </item>
  <separator />

  <!-- Internet -->
  <item label="Firefox" icon="/usr/share/pixmaps/aurora.png">
    <action name="Execute"><command>firefox</command></action>
  </item>
  <item label="Falkon" icon="/usr/share/icons/hicolor/16x16/apps/falkon.png">
    <action name="Execute"><command>falkon</command></action>
  </item>
  <!-- <item label="Claws Mail" icon="/usr/share/icons/Adwaita/16x16/emblems/emblem-mail.png"> -->
  <!--   <action name="Execute"><command>claws-mail</command></action> -->
  <!-- </item> -->
  <separator />

  <!-- CAD -->
  <item label="KiCad" icon="/usr/share/icons/hicolor/22x22/apps/kicad.png">
    <action name="Execute"><command>kicad</command></action>
  </item>
  <item label="Eagle PCB" icon="/usr/share/pixmaps/eagle-7.3.0-icon50.png">
    <action name="Execute"><command>eagle</command></action>
  </item>
  <separator />
  
  <!-- Media Player -->
  <item label="Media Player" icon="/usr/share/icons/hicolor/16x16/apps/smplayer.png">
    <action name="Execute"><command>smplayer</command></action>
  </item>
  <item label="YouTube Browser" icon="/home/energos/.local/share/icons/youtube.png">
    <action name="Execute"><command>smtube</command></action>
  </item>
  <separator />

  <!-- Office -->
  <item label="Calibre EBook Manager" icon="/usr/share/icons/hicolor/16x16/apps/calibre-gui.png">
    <action name="Execute"><command>calibre --detach</command></action>
  </item>
  <item label="Open Office Calc" icon="/usr/share/icons/hicolor/16x16/apps/openoffice4-calc.png">
    <action name="Execute"><command>oocalc</command></action>
  </item>
  <item label="Open Office Writer" icon="/usr/share/icons/hicolor/16x16/apps/openoffice4-writer.png">
    <action name="Execute"><command>oowriter</command></action>
  </item>
  <separator />
  
  <!-- Virtual Machines -->
  <item label="VirtualBox" icon="/usr/share/icons/hicolor/16x16/apps/virtualbox.png">
    <action name="Execute"><command>VirtualBox</command></action>
  </item>
  <item label="Virtual Manager" icon="/usr/share/icons/hicolor/16x16/apps/virt-manager.png">
    <action name="Execute"><command>virt-manager</command></action>
  </item>
  <separator />

  <!-- Run command-->
  <item label="Run Command" icon="/usr/share/icons/Adwaita/16x16/actions/document-send.png">
    <action name="Execute"><command>gmrun</command></action>
  </item>
  <separator />

  <!-- Sub menus -->
  <!-- <menu id="xdg-menu" label="Applications" icon="/usr/share/icons/Adwaita/16x16/places/folder.png" execute="cat /var/cache/xdg-menu/openbox/menu.xml"/> -->
  <menu id="obmenu-generator" label="Applications" icon="/usr/share/icons/Adwaita/16x16/places/folder.png" execute="/usr/bin/perl /usr/bin/obmenu-generator -i" />
  <separator />

  
  <!-- <menu id="apps-accessories-menu"/> -->
  <!-- <menu id="apps-editors-menu"/> -->
  <!-- <menu id="apps-graphics-menu"/> -->
  <!-- <menu id="apps-net-menu"/> -->
  <!-- <menu id="apps-office-menu"/> -->
  <!-- <menu id="apps-multimedia-menu"/> -->
  <!-- <menu id="apps-term-menu"/> -->
  <!-- <menu id="apps-fileman-menu"/> -->
  <!-- <separator label="System" /> -->
  <!-- <menu id="system-menu"/> -->
  <!-- <separator /> -->

  <menu id="openbox" icon="/usr/share/pixmaps/openbox.png" />
  <separator />

  
  <!-- Help -->
  <item label="Help" icon="/usr/share/icons/Adwaita/16x16/apps/help-browser.png">
    <action name="Execute">
      <!-- <command>xdg-open http://wiki.archlinux.org/</command> -->
      <command>pqp navigator https://wiki.gentoo.org/wiki/Handbook:AMD64</command>
    </action>
  </item>
  <separator />

  <!-- Desktops -->
  <menu id="client-list-menu" icon="/usr/share/icons/Adwaita/48x48/emblems/emblem-desktop.png"/>
  <separator />
  
  <!-- Logout -->
  <item label="Log Out" icon="/usr/share/icons/Adwaita/16x16/actions/application-exit.png">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>


</menu>

</openbox_menu>
