<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

  <!-- Applications sub-menu -->
  <menu id="applications" label="Applications" execute='sh -c "[ -x \"$(command -v obmenu-generator)\" ] &amp;&amp; obmenu-generator -i || obamenu"'/>

  <!-- The Manuals sub-menu -->
  <menu id="manuals" label="The Manuals">
    <menu id="emacs" label="The GNU Emacs Manuals" icon=".local/share/icons/emacs.png">
      <item label="The Emacs Editor">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/emacs/index.html</command>
        </action>
      </item>
      <item label="Emacs Lisp">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/elisp/index.html</command>
        </action>
      </item>
      <item label="Programming in Emacs Lisp">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/eintr/index.html</command>
        </action>
      </item>
      <item label="The GNU Emacs FAQ">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/efaq/index.html</command>
        </action>
      </item>
      <item label="Org Mode Manual">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/org/index.html</command>
        </action>
      </item>
      <separator />
      <item label="All GNU Emacs Manuals">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/</command>
        </action>
      </item>
    </menu>
    <separator />
    <item label="Git Documentation" icon=".local/share/icons/git.png">
      <action name="Execute">
        <command>pqp navigator https://git-scm.com/doc</command>
      </action>
    </item>
    <item label="Magit User Manual" icon=".local/share/icons/magit.png">
      <action name="Execute">
        <command>pqp navigator https://magit.vc/manual/magit/index.html</command>
      </action>
    </item>
    <separator />
    <item label="The Guile Reference Manual" icon=".local/share/icons/heckert_gnu.svg">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/software/guile/manual/html_node/index.html</command>
      </action>
    </item>
    <separator />
    <item label="All GNU Manuals" icon=".local/share/icons/heckert_gnu.svg">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/manual/manual.html</command>
      </action>
    </item>
    <separator />
    <item label="GNU C Language Manual" icon=".local/share/icons/C_Logo.png">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/software/c-intro-and-ref/manual/c-intro-and-ref.html</command>
      </action>
    </item>
    <item label="The GNU C Reference Manual" icon=".local/share/icons/C_Logo.png">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/software/gnu-c-manual/gnu-c-manual.html</command>
      </action>
    </item>
    <item label="The GNU C Library" icon=".local/share/icons/C_Logo.png">
      <action name="Execute">
        <command>pqp navigator https://sourceware.org/glibc/manual/html_mono/libc.html</command>
      </action>
    </item>
  </menu>

  <!-- Openbox sub-menu -->
  <menu id="openbox" label="Openbox">
    <item label="Openbox Wiki">
      <action name="Execute">
        <command>pqp navigator http://openbox.org/wiki/Main_Page</command>
      </action>
    </item>
    <item label="Openbox - Gentoo Wiki">
      <action name="Execute">
        <command>pqp navigator https://wiki.gentoo.org/wiki/Openbox</command>
      </action>
    </item>
    <item label="Openbox Guide - Gentoo Wiki">
      <action name="Execute">
        <command>pqp navigator https://wiki.gentoo.org/wiki/Openbox/Guide</command>
      </action>
    </item>
    <item label="Openbox - Arch Wiki">
      <action name="Execute">
        <command>pqp navigator http://wiki.archlinux.org/index.php/Openbox</command>
      </action>
    </item>
    <separator />
    <item label="Configure Openbox (obconf)">
      <action name="Execute"><command>obconf</command></action>
    </item>
    <separator />
    <item label="Lock Screen (slock)">
      <action name="Execute"><command>slock</command></action>
    </item>
    <separator />
    <menu id="window_managers" label="Other Window Managers">
      <item label="IceWM">
        <!-- <action name="Restart"><command>icewm</command></action> -->
        <action name="Execute"><command>xmessage "To be done..."</command></action>
      </item>
    </menu>
    <separator />
    <item label="Restart Openbox">
      <action name="Restart" />
    </item>
    <item label="Reconfigure Openbox">
      <action name="Reconfigure" />
    </item>
  </menu>

  <!-- About Devuan GNU/Linux sub-menu -->
  <menu id="about-Devuan GNU/Linux" label="About Devuan GNU/Linux">
    <item label="Release Info">
      <action name="Execute">
        <command>sh -c "cat /etc/os-release | xmessage -file -"</command>
      </action>
    </item>
    <item label="Devuan GNU/Linux Home Page">
      <action name="Execute">
        <command>pqp navigator https://www.devuan.org/</command>
      </action>
    </item>
  </menu>

  <!-- About Void Linux sub-menu -->
  <menu id="about-Void" label="About Void Linux">
    <item label="Release Info">
      <action name="Execute">
        <command>sh -c "cat /etc/os-release | xmessage -file -"</command>
      </action>
    </item>
    <item label="Void Linux Home Page">
      <action name="Execute">
        <command>pqp navigator https://www.voidlinux.org/</command>
      </action>
    </item>
  </menu>

  <!-- About Gentoo sub-menu -->
  <menu id="about-Gentoo" label="About Gentoo">
    <item label="Release Info">
      <action name="Execute">
        <command>sh -c "cat /etc/os-release | xmessage -file -"</command>
      </action>
    </item>
    <item label="Gentoo Home Page">
      <action name="Execute">
        <command>pqp navigator https://www.gentoo.org/</command>
      </action>
    </item>
  </menu>

  <!-- About FreeBSD sub-menu -->
  <menu id="about-FreeBSD" label="About FreeBSD">
    <item label="Release Info">
      <action name="Execute">
        <command>sh -c "cat /etc/os-release | xmessage -file -"</command>
      </action>
    </item>
    <item label="FreeBSD Home Page">
      <action name="Execute">
        <command>pqp navigator https://www.freebsd.org/</command>
      </action>
    </item>
    <item label="FreeBSD Handbook">
      <action name="Execute">
        <command>pqp navigator https://docs.freebsd.org/en/books/handbook/</command>
      </action>
    </item>
    <item label="FreeBSD Journal">
      <action name="Execute">
        <command>pqp navigator https://freebsdfoundation.org/our-work/journal/browser-based-edition/</command>
      </action>
    </item>
  </menu>

</openbox_menu>
