<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

  <!-- Applications sub-menu -->
  <menu id="applications" label="Applications" execute="/usr/bin/perl /usr/bin/obmenu-generator -i" />

  <!-- The Manuals sub-menu -->
  <menu id="manuals" label="The Manuals">
    <menu id="emacs" label="The GNU Emacs Manuals" icon="/usr/share/icons/hicolor/48x48/apps/emacs.png">
      <item label="The Emacs Editor">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/emacs/index.html</command>
        </action>
      </item>
      <item label="Emacs Lisp">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/elisp/index.html</command>
        </action>
      </item>
      <item label="Programming in Emacs Lisp">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/eintr/index.html</command>
        </action>
      </item>
      <item label="The GNU Emacs FAQ">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/efaq/index.html</command>
        </action>
      </item>
      <item label="Org Mode Manual">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/html_node/org/index.html</command>
        </action>
      </item>
      <separator />
      <item label="All GNU Emacs Manuals">
        <action name="Execute">
          <command>pqp navigator https://www.gnu.org/software/emacs/manual/</command>
        </action>
      </item>
    </menu>
    <separator />
    <item label="All About GIT" icon="/home/energos/.local/share/icons/git.png">
      <action name="Execute">
        <command>pqp navigator http://speedy/~energos/git.html</command>
      </action>
    </item>
    <item label="Magit User Manual" icon="/home/energos/.local/share/icons/magit.png">
      <action name="Execute">
        <command>pqp navigator https://magit.vc/manual/magit/index.html</command>
      </action>
    </item>
    <separator />
    <item label="The Guile Reference Manual" icon="/home/energos/.local/share/icons/heckert_gnu.svg">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/software/guile/manual/html_node/index.html</command>
      </action>
    </item>
    <item label="The GNU C Reference Manual" icon="/home/energos/.local/share/icons/heckert_gnu.svg">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/software/gnu-c-manual/gnu-c-manual.html</command>
      </action>
    </item>
    <separator />
    <item label="All GNU Manuals" icon="/home/energos/.local/share/icons/heckert_gnu.svg">
      <action name="Execute">
        <command>pqp navigator https://www.gnu.org/manual/manual.html</command>
      </action>
    </item>
    <separator />
    <menu id="gentoo" label="Gentoo"  icon="/home/energos/.local/share/icons/gentoo.svg">
      <item label="The Gentoo Handbook">
        <action name="Execute">
          <command>pqp navigator https://wiki.gentoo.org/wiki/Handbook:Main_Page</command>
        </action>
      </item>
    </menu>
  </menu>

  <!-- Openbox sub-menu -->
  <menu id="openbox" label="Openbox">
    <item label="Openbox Wiki">
      <action name="Execute">
        <command>pqp navigator http://openbox.org/wiki/Main_Page</command>
      </action>
    </item>
    <item label="Openbox - Gentoo Wiki">
      <action name="Execute">
        <command>pqp navigator https://wiki.gentoo.org/wiki/Openbox</command>
      </action>
    </item>
    <item label="Openbox Guide - Gentoo Wiki">
      <action name="Execute">
        <command>pqp navigator https://wiki.gentoo.org/wiki/Openbox/Guide</command>
      </action>
    </item>
    <item label="Openbox - Arch Wiki">
      <action name="Execute">
        <command>pqp navigator http://wiki.archlinux.org/index.php/Openbox</command>
      </action>
    </item>
    <separator />
    <item label="Configure Openbox (obconf)">
      <action name="Execute"><command>obconf</command></action>
    </item>
    <separator />
    <item label="Lock Screen (slock)">
      <action name="Execute"><command>slock</command></action>
    </item>
    <separator />
    <item label="Restart Openbox">
      <action name="Restart" />
    </item>
    <item label="Reconfigure Openbox">
      <action name="Reconfigure" />
    </item>
  </menu>

</openbox_menu>
